In [1]:
import pandas as pd
import numpy as np

In [2]:
all_data = pd.read_csv('data/data.csv')

Drop unnecessary columns and rows. We drop the 2019 year data as there are only 405 non-null values.

In [3]:
# drop last five rows
all_data = all_data.iloc[:-5, :]

# drop columns
all_data = all_data.drop(columns=['Series Code', 'Country Name', '2019 [YR2019]'])

all_data.head()

,Series Name,Country Code,2000 [YR2000],2001 [YR2001],2002 [YR2002],2003 [YR2003],2004 [YR2004],2005 [YR2005],2006 [YR2006],2007 [YR2007],...,2009 [YR2009],2010 [YR2010],2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018]
0,GDP growth (annual %),USA,4.12748401355853,0.9983407946565,1.7416952497298,2.86121076741024,3.79889112662393,3.51321379665302,2.85497229170015,1.87617145846693,...,-2.53675706585665,2.56376655876581,1.55083550568156,2.24954585236992,1.84208107101102,2.45197303536034,2.88091046605219,1.56721516997864,2.21701033031884,2.92732272821085
1,GDP growth (annual %),CHN,8.49150849150864,8.33991054985535,9.13064594463313,10.0356030262573,10.1112234580385,11.3957759412304,12.7194790206909,14.2313880356883,...,9.39981317141508,10.6361404632299,9.55091409001014,7.8596274932851,7.76861528412806,7.29951892117124,6.90531667019702,6.73667525262536,6.75700761091511,6.56697385961871
2,GDP growth (annual %),JPN,2.77963282527575,0.406335903186886,0.117992776763344,1.52822014815892,2.20468788231713,1.662670405184,1.42000655604446,1.65418388116969,...,-5.41641279673664,4.19173925858955,-0.115421339717841,1.49508958594926,2.0002678411015,0.374719476331322,1.22292104108077,0.609093181244134,1.92875725125687,0.788455875670337
3,GDP growth (annual %),DEU,2.89518694712132,1.69773236086638,-0.198459062728844,-0.713533477235572,1.18991490034335,0.721853764966724,3.81458790454661,2.98407727316592,...,-5.69715162828702,4.1789690378929,3.92413341771297,0.41955108005358,0.428243261672193,2.22568874914928,1.73974982269824,2.22999996699747,2.46503002917808,1.52744629830981
4,GDP growth (annual %),IND,3.84099115681285,4.82396626390644,3.80397532137577,7.86038147553259,7.92293661286503,7.92343062149763,8.06073257303272,7.66081506504928,...,7.86188883303498,8.49758470158106,5.2413447428854,5.45635895072287,6.38610640094825,7.41022760508852,7.99625378571471,8.16952650547138,7.16788886086535,6.81136932613997

Since the type of cell values are a string, the data value is turned into a float. For cell values that have no value, it was replaced is `NaN`.

In [4]:
for column in all_data.columns[2:]:
    for row in range(len(all_data)):
        if all_data.iloc[row][column] == '..':
            all_data.iloc[row][column] = np.nan
        else:
            all_data.iloc[row][column] = float(all_data.iloc[row][column])

In [15]:
data_cell = all_data.loc[:, '2000 [YR2000]':].T.fillna(all_data.loc[:, '2000 [YR2000]':].mean(axis=1)).T

In [21]:
new_columns = [str(x) for x in range(2000, 2019, 1)]
data_cell = data_cell.rename(columns = dict(zip(data_cell.columns, new_columns)))

In [26]:
data_cell['series'] = all_data['Series Name']
data_cell['country'] = all_data['Country Code']
data_cell = data_cell.reindex(columns=['series', 'country', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008',
       '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017',
       '2018'])

In [27]:
data_cell.head()

,series,country,2000,2001,2002,2003,2004,2005,2006,2007,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,GDP growth (annual %),USA,4.127484,0.998341,1.741695,2.861211,3.798891,3.513214,2.854972,1.876171,...,-2.536757,2.563767,1.550836,2.249546,1.842081,2.451973,2.880910,1.567215,2.217010,2.927323
1,GDP growth (annual %),CHN,8.491508,8.339911,9.130646,10.035603,10.111223,11.395776,12.719479,14.231388,...,9.399813,10.636140,9.550914,7.859627,7.768615,7.299519,6.905317,6.736675,6.757008,6.566974
2,GDP growth (annual %),JPN,2.779633,0.406336,0.117993,1.528220,2.204688,1.662670,1.420007,1.654184,...,-5.416413,4.191739,-0.115421,1.495090,2.000268,0.374719,1.222921,0.609093,1.928757,0.788456
3,GDP growth (annual %),DEU,2.895187,1.697732,-0.198459,-0.713533,1.189915,0.721854,3.814588,2.984077,...,-5.697152,4.178969,3.924133,0.419551,0.428243,2.225689,1.739750,2.230000,2.465030,1.527446
4,GDP growth (annual %),IND,3.840991,4.823966,3.803975,7.860381,7.922937,7.923431,8.060733,7.660815,...,7.861889,8.497585,5.241345,5.456359,6.386106,7.410228,7.996254,8.169527,7.167889,6.811369

In [ ]:
data_cell

In [31]:
data_cell[data_cell.isnull().any(axis=1)]['series'].unique()

array(['Government expenditure on education, total (% of GDP)',
       'Broad money (% of GDP)', 'Binding coverage, all products (%)',
       'Other taxes (% of revenue)', 'Tax revenue (% of GDP)',
       'Taxes on goods and services (% of revenue)',
       'Total reserves (includes gold, current US$)',
       'Central government debt, total (current LCU)',
       'Foreign direct investment, net (BoP, current US$)',
       'Gross domestic income (constant LCU)',
       'Gross savings (current US$)',
       'ICT service exports (BoP, current US$)',
       'Interest payments (% of expense)',
       'Interest payments (% of revenue)',
       'Net capital account (BoP, current US$)',
       'Net errors and omissions (BoP, current US$)',
       'Net financial account (BoP, current US$)',
       'Net investment in nonfinancial assets (current LCU)',
       'Net trade in goods (BoP, current US$)',
       'Net trade in goods and services (BoP, current US$)',
       'Portfolio equity, net inflows (BoP, current US$)',
       'Portfolio investment, net (BoP, current US$)',
       'Real effective exchange rate index (2010 = 100)',
       'Real interest rate (%)',
       'Reserves and related items (BoP, current US$)',
       'Revenue, excluding grants (% of GDP)',
       'S&P Global Equity Indices (annual % change)',
       'Wholesale price index (2010 = 100)',
       'Net investment in nonfinancial assets (% of GDP)'], dtype=object)

Get all the name of the dataset imported.

In [35]:
data_name = data_cell['series'].unique()
data_dict = dict(zip(list(range(len(data_name))), data_name))
data_dict

{0: 'GDP growth (annual %)',
 1: 'GDP per capita (constant 2010 US$)',
 2: 'Imports of goods and services (% of GDP)',
 3: 'Exports of goods and services (% of GDP)',
 4: 'Government expenditure on education, total (% of GDP)',
 5: 'Wage and salaried workers, male (% of male employment) (modeled ILO estimate)',
 6: 'Wage and salaried workers, female (% of female employment) (modeled ILO estimate)',
 7: 'Broad money (% of GDP)',
 8: 'Binding coverage, all products (%)',
 9: 'Labor tax and contributions (% of commercial profits)',
 10: 'Other taxes (% of revenue)',
 11: 'Profit tax (% of commercial profits)',
 12: 'Tariff rate, applied, simple mean, all products (%)',
 13: 'Tax payments (number)',
 14: 'Tax revenue (% of GDP)',
 15: 'Taxes on goods and services (% of revenue)',
 16: 'Total reserves (includes gold, current US$)',
 17: 'Central government debt, total (current LCU)',
 18: 'Consumer price index (2010 = 100)',
 19: 'Export value index (2000 = 100)',
 20: 'External balance on goods and services (current US$)',
 21: 'Final consumption expenditure (current US$)',
 22: 'Food production index (2004-2006 = 100)',
 23: 'Foreign direct investment, net (BoP, current US$)',
 24: 'Fuel exports (% of merchandise exports)',
 25: 'Fuel imports (% of merchandise imports)',
 26: 'GDP (current US$)',
 27: 'GDP deflator (base year varies by country)',
 28: 'GDP per capita (current US$)',
 29: 'GDP per capita growth (annual %)',
 30: 'General government final consumption expenditure (current US$)',
 31: 'GNI (current US$)',
 32: 'GNI per capita, PPP (current international $)',
 33: 'Gross capital formation (current US$)',
 34: 'Gross domestic income (constant LCU)',
 35: 'Gross domestic savings (current US$)',
 36: 'Gross national expenditure (current US$)',
 37: 'Gross savings (current US$)',
 38: 'Human capital index (HCI) (scale 0-1)',
 39: 'ICT goods exports (% of total goods exports)',
 40: 'ICT goods imports (% total goods imports)',
 41: 'ICT service exports (BoP, current US$)',
 42: 'Import value index (2000 = 100)',
 43: 'Imports of goods and services (current US$)',
 44: 'Individuals using the Internet (% of population)',
 45: 'Inflation, consumer prices (annual %)',
 46: 'Interest payments (% of expense)',
 47: 'Interest payments (% of revenue)',
 48: 'International tourism, expenditures (current US$)',
 49: 'International tourism, receipts (current US$)',
 50: 'Labor force participation rate, total (% of total population ages 15-64) (modeled ILO estimate)',
 51: 'Livestock production index (2004-2006 = 100)',
 52: 'Logistics performance index: Overall (1=low to 5=high)',
 53: 'Logistics performance index: Quality of trade and transport-related infrastructure (1=low to 5=high)',
 54: 'Manufactures exports (% of merchandise exports)',
 55: 'Manufactures imports (% of merchandise imports)',
 56: 'Manufacturing, value added (current US$)',
 57: 'Market capitalization of listed domestic companies (current US$)',
 58: 'Merchandise exports (current US$)',
 59: 'Merchandise imports (current US$)',
 60: 'Military expenditure (current USD)',
 61: 'Net capital account (BoP, current US$)',
 62: 'Net domestic credit (current LCU)',
 63: 'Net errors and omissions (BoP, current US$)',
 64: 'Net financial account (BoP, current US$)',
 65: 'Net foreign assets (current LCU)',
 66: 'Net investment in nonfinancial assets (current LCU)',
 67: 'Net primary income (Net income from abroad) (current US$)',
 68: 'Net trade in goods (BoP, current US$)',
 69: 'Net trade in goods and services (BoP, current US$)',
 70: 'Patent applications, residents',
 71: 'Patent applications, nonresidents',
 72: 'Population ages 65 and above, total',
 73: 'Population ages 65 and above (% of total population)',
 74: 'Population growth (annual %)',
 75: 'Portfolio equity, net inflows (BoP, current US$)',
 76: 'Portfolio investment, net (BoP, current US$)',
 77: 'PPP conversion factor, GDP (LCU per international $)',
 78: 'Real effective exchange rate index (2010 = 100)',
 79: 'Real interest rate (%)',
 80: 'Research and development expenditure (% of GDP)',
 81: 'Reserves and related items (BoP, current US$)',
 82: 'Revenue, excluding grants (% of GDP)',
 83: 'Rural population (% of total population)',
 84: 'S&P Global Equity Indices (annual % change)',
 85: 'Stocks traded, total value (% of GDP)',
 86: 'Total tax and contribution rate (% of profit)',
 87: 'Trade (% of GDP)',
 88: 'Wholesale price index (2010 = 100)',
 89: 'Net investment in nonfinancial assets (% of GDP)'}

In [38]:
data_cell.loc[data_cell['series'] == data_dict[4]]

,series,country,2000,2001,2002,2003,2004,2005,2006,2007,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
120,"Government expenditure on education, total (% ...",USA,4.946395,4.946395,4.946395,4.946395,4.946395,4.946395,4.946395,4.946395,...,4.946395,4.946395,4.946395,4.946395,4.931050,4.961740,4.946395,4.946395,4.946395,4.946395
121,"Government expenditure on education, total (% ...",CHN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
122,"Government expenditure on education, total (% ...",JPN,3.480717,3.480717,3.480717,3.480717,3.480717,3.480717,3.480717,3.480717,...,3.480717,3.480717,3.480717,3.480717,3.665380,3.590590,3.480717,3.186180,3.480717,3.480717
123,"Government expenditure on education, total (% ...",DEU,4.729916,4.729916,4.729916,4.729916,4.729916,4.729916,4.279300,4.343030,...,4.880480,4.913680,4.807800,4.933310,4.934970,4.920860,4.805180,4.800930,4.729916,4.729916
124,"Government expenditure on education, total (% ...",IND,4.324790,3.578663,3.578663,3.613410,3.352540,3.188750,3.142850,3.578663,...,3.278250,3.377690,3.796180,3.867500,3.844670,3.578663,3.578663,3.578663,3.578663,3.578663
125,"Government expenditure on education, total (% ...",GBR,4.065330,4.143090,4.680090,4.835720,4.760090,4.966510,5.012310,4.945070,...,5.106870,5.741640,5.646200,5.073276,5.588230,5.664990,5.609390,5.486970,5.073276,5.073276
126,"Government expenditure on education, total (% ...",FRA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
127,"Government expenditure on education, total (% ...",BRA,3.948930,3.844680,3.750370,5.056299,3.974480,4.479080,4.870600,4.974260,...,5.463550,5.648800,5.737410,5.855100,5.838850,5.948480,6.241060,5.056299,5.056299,5.056299
128,"Government expenditure on education, total (% ...",ITA,4.298860,4.668880,4.447110,4.554800,4.397170,4.249420,4.537770,4.118520,...,4.536310,4.352390,4.144070,4.083910,4.164720,4.075250,4.081690,3.829260,4.290765,4.290765
129,"Government expenditure on education, total (% ...",CAN,5.442000,4.969560,5.010730,5.013341,5.013341,4.782150,5.013341,4.780360,...,4.852640,5.369930,5.274440,5.013341,5.013341,5.013341,5.013341,5.013341,5.013341,5.013341
130,"Government expenditure on education, total (% ...",RUS,2.939790,3.106020,3.835020,3.678540,3.547870,3.771930,3.866260,3.690947,...,3.690947,3.690947,3.690947,3.789730,3.756210,4.012440,3.833720,3.743030,3.690947,3.690947
131,"Government expenditure on education, total (% ...",KOR,4.594370,4.594370,4.594370,4.594370,4.594370,4.594370,4.594370,4.594370,...,4.594370,4.594370,4.594370,4.594370,4.594370,4.594370,4.594370,4.594370,4.594370,4.594370
132,"Government expenditure on education, total (% ...",AUS,4.891470,5.031393,5.031393,5.031393,5.031393,4.910300,4.750200,4.660890,...,5.085820,5.550060,5.074510,4.869000,5.229740,5.164770,5.311960,5.271630,5.031393,5.031393
133,"Government expenditure on education, total (% ...",ESP,4.176370,4.119880,4.136030,4.167170,4.148290,4.130030,4.167590,4.233320,...,4.867710,4.819120,4.866330,4.431880,4.328340,4.279900,4.272390,4.209110,4.344376,4.344376
134,"Government expenditure on education, total (% ...",MEX,3.992440,4.241040,4.454960,5.072580,4.726710,4.845690,4.699920,4.690510,...,5.187940,5.159220,5.105650,5.103100,4.696050,5.260620,5.235240,4.909830,4.835386,4.835386
135,"Government expenditure on education, total (% ...",IDN,3.075439,2.460030,2.645690,3.218000,2.748470,2.872820,3.075439,3.044250,...,3.525130,2.812280,3.189440,3.407480,3.359040,3.288010,3.583600,3.075439,3.075439,3.075439
136,"Government expenditure on education, total (% ...",TUR,2.529080,2.654340,2.748940,2.876630,3.020200,2.763303,2.750630,2.763303,...,2.763303,2.763303,2.763303,2.763303,2.763303,2.763303,2.763303,2.763303,2.763303,2.763303
137,"Government expenditure on education, total (% ...",NLD,4.585120,4.699650,4.805900,5.040420,5.062970,5.109400,5.044020,4.886830,...,5.431560,5.489090,5.463040,5.410220,5.526560,5.458900,5.348160,5.479600,5.168852,5.168852
138,"Government expenditure on education, total (% ...",SAU,5.909820,7.718870,7.636890,7.105090,6.277470,5.430920,5.891170,6.388505,...,6.388505,6.388505,6.388505,6.388505,6.388505,6.388505,6.388505,6.388505,6.388505,6.388505
139,"Government expenditure on education, total (% ...",CHE,4.781400,4.959810,5.314290,5.523760,5.445730,5.204100,4.961580,4.687380,...,5.041180,4.926050,4.969860,5.033370,5.040480,5.051230,5.100570,5.113320,5.060124,5.060124
140,"Government expenditure on education, total (% ...",SWE,6.809500,6.675810,6.989930,6.848900,6.714810,6.552000,6.402920,6.207670,...,6.850500,6.614790,6.483200,7.647740,7.709490,7.673290,7.548300,7.669930,6.928342,6.928342
141,"Government expenditure on education, total (% ...",ARG,4.580310,4.833740,4.017340,3.535050,3.486520,3.860010,4.128210,4.462600,...,5.531050,5.019710,5.290630,5.345830,5.436610,5.361440,5.776110,5.545490,5.462230,4.806516
142,"Government expenditure on education, total (% ...",BEL,6.402804,6.402804,6.402804,6.402804,6.402804,5.769010,6.402804,6.402804,...,6.415360,6.407990,6.378740,6.402804,6.639660,6.638520,6.539440,6.545130,6.402804,6.402804
143,"Government expenditure on education, total (% ...",POL,4.993600,5.329760,5.397960,5.332180,5.355740,5.426090,5.205730,4.868340,...,4.989100,5.068430,4.820120,4.811810,4.940110,4.909180,4.812310,4.639310,5.055306,5.055306
144,"Government expenditure on education, total (% ...",THA,5.253460,4.817860,3.864920,3.725610,4.030890,3.938590,4.050380,3.603140,...,3.861940,3.508440,4.805560,4.536710,4.124020,4.116430,4.116430,4.116430,4.116430,4.116430
145,"Government expenditure on education, total (% ...",IRN,4.030640,4.071680,4.484880,4.363220,4.296630,4.056510,4.289990,4.596810,...,3.842450,3.709180,3.484970,3.168590,3.067950,2.801350,2.797390,3.365760,3.790400,3.955360
146,"Government expenditure on education, total (% ...",AUT,5.588810,5.575480,5.522130,5.361830,5.302430,5.249370,5.226520,5.146900,...,5.730250,5.700480,5.592270,5.480400,5.547110,5.447620,5.456750,5.500700,5.452530,5.452530
147,"Government expenditure on education, total (% ...",NOR,6.464680,6.829410,7.441320,7.419800,7.302520,6.868680,6.385660,6.532030,...,7.095440,6.740460,6.447430,7.364250,7.474760,7.680740,7.552470,7.976100,7.050402,7.050402
148,"Government expenditure on education, total (% ...",ARE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
149,"Government expenditure on education, total (% ...",NGA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN