# Data Preprocessing

## Data Cleansing

In [103]:
import pandas as pd

In [104]:
credit = pd.read_csv('data/tmdb_5000_credits.csv')
movies = pd.read_csv('data/tmdb_5000_movies.csv')

We merge credit and movie file to create one dataset. We join the two dataset on the `id` column.

In [105]:
credit.columns = ['id', 'title', 'cast', 'crew']
movies = movies.merge(credit, on='id')
movies.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title_x,vote_average,vote_count,title_y,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",...,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...",...,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]",...,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

Check for `Nan` Columns.

In [106]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4803 entries, 0 to 4802
Data columns (total 23 columns):
budget                  4803 non-null int64
genres                  4803 non-null object
homepage                1712 non-null object
id                      4803 non-null int64
keywords                4803 non-null object
original_language       4803 non-null object
original_title          4803 non-null object
overview                4800 non-null object
popularity              4803 non-null float64
production_companies    4803 non-null object
production_countries    4803 non-null object
release_date            4802 non-null object
revenue                 4803 non-null int64
runtime                 4801 non-null float64
spoken_languages        4803 non-null object
status                  4803 non-null object
tagline                 3959 non-null object
title_x                 4803 non-null object
vote_average            4803 non-null float64
vote_count              4803 non-null int64
title_y                 4803 non-null object
cast                    4803 non-null object
crew                    4803 non-null object
dtypes: float64(3), int64(4), object(16)
memory usage: 900.6+ KB

Since most more than 50% of the `homepage` column has missing values and the column is irrelavent for making recommendations, we drop the column.

In [107]:
movies = movies.drop(columns=['homepage'])

Similarily we drop the three rows that have the overview column as `Nan`.

In [108]:
movies = movies.drop(movies[movies['overview'].isnull()].index.tolist())

In [109]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4800 entries, 0 to 4802
Data columns (total 22 columns):
budget                  4800 non-null int64
genres                  4800 non-null object
id                      4800 non-null int64
keywords                4800 non-null object
original_language       4800 non-null object
original_title          4800 non-null object
overview                4800 non-null object
popularity              4800 non-null float64
production_companies    4800 non-null object
production_countries    4800 non-null object
release_date            4799 non-null object
revenue                 4800 non-null int64
runtime                 4800 non-null float64
spoken_languages        4800 non-null object
status                  4800 non-null object
tagline                 3959 non-null object
title_x                 4800 non-null object
vote_average            4800 non-null float64
vote_count              4800 non-null int64
title_y                 4800 non-null object
cast                    4800 non-null object
crew                    4800 non-null object
dtypes: float64(3), int64(4), object(15)
memory usage: 862.5+ KB

We see that one value for `release_date` is a null value. We manually inputt the release date for the movie.

In [110]:
movies[movies['release_date'].isnull()].index.tolist()

[4553]

In [111]:
movies['release_date'].loc[movies['id'] == 380097] = "2015-03-01"

/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/pandas/core/indexing.py:205: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [112]:
# reset index
movies = movies.reset_index(drop=True)

We fill the null values of the `tagline` with empty strings.

In [113]:
movies['tagline'] = movies['tagline'].fillna('')

In [114]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4800 entries, 0 to 4799
Data columns (total 22 columns):
budget                  4800 non-null int64
genres                  4800 non-null object
id                      4800 non-null int64
keywords                4800 non-null object
original_language       4800 non-null object
original_title          4800 non-null object
overview                4800 non-null object
popularity              4800 non-null float64
production_companies    4800 non-null object
production_countries    4800 non-null object
release_date            4800 non-null object
revenue                 4800 non-null int64
runtime                 4800 non-null float64
spoken_languages        4800 non-null object
status                  4800 non-null object
tagline                 4800 non-null object
title_x                 4800 non-null object
vote_average            4800 non-null float64
vote_count              4800 non-null int64
title_y                 4800 non-null object
cast                    4800 non-null object
crew                    4800 non-null object
dtypes: float64(3), int64(4), object(15)
memory usage: 825.1+ KB

## Feature Engineering

We create a new column `rating` based on IMDB's weighted rating formula which is showns as $\text{Weighted Rating} = \frac{Rv + Cm}{v+m}$
where, 

- $R$ is the average rating of the movie
- $v$ is the numer of votes for the movie
- $m$ is the minimum votes required to be listed in top 250 (which is 3000)
- $C$ us the mean vote accross the whole report

In [115]:
def weighted_rating(x, m=3000, C=movies['vote_average'].mean()):
    v = x['vote_count']
    R = x['vote_average']
    return (R*v + C*m)/(v+m)

In [116]:
movies['score'] = movies.apply(weighted_rating, axis=1)

In [117]:
movies['genres'][0]

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

Some columns in the dataset are formatted as a json so we change them into an array.

In [118]:
from ast import literal_eval

In [120]:
features = ['genres', 'keywords', 'production_companies', 'production_countries',
           'spoken_languages', 'cast', 'crew']
for feature in features:
    movies[feature] = movies[feature].apply(literal_eval)

In [121]:
for feature in features:
    if feature != 'crew':
        movies[feature] = movies[feature].apply(lambda x: [i['name'] for i in x])