In [33]:
%run -i 'scraping.py'

In [81]:
dji_df = dataframe_list[0]
sp500_df = dataframe_list[1]
nasdaq_df = dataframe_list[2]

In [82]:
dji_df = dji_df.sort_index(ascending=False)
sp500_df=sp500_df.sort_index(ascending=False)
nasdaq_df=nasdaq_df.sort_index(ascending=False)

In [83]:
from datetime import datetime

In [84]:
def change_date_format(df):
    dates = []
    for date in df['Date'].values:
        formatted_date = date.strftime('%Y-%m-%d')
        dates.append(formatted_date)
    
    return dates

In [85]:
dji_df['Date'] = change_date_format(dji_df)

'2015-06-15'

In [87]:
dji_df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
1259,2015-06-15,17890.76,17890.76,17698.42,17791.17,17791.17,91920000.0
1258,2015-06-16,17787.43,17919.62,17774.12,17904.48,17904.48,77510000.0
1257,2015-06-17,17909.58,17998.00,17839.65,17935.74,17935.74,92410000.0
1256,2015-06-18,17944.61,18174.73,17944.61,18115.84,18115.84,94460000.0
1255,2015-06-19,18116.24,18117.71,18010.58,18015.95,18015.95,258300000.0

In [80]:
dji_df.iloc[0].values

array(['2015-06-15', 17890.76, 17890.76, 17698.42, 17791.17, 17791.17,
       91920000.0, '2015-06-15'], dtype=object)

In [97]:
for num in range(len(dji_df)):
    arr = dji_df.iloc[num].values
    date, open_price, high_price, low_price, close_price, adj_close_price, volume = arr[0], arr[1].item(), arr[2].item(), arr[3].item(), arr[4].item(), arr[5].item(), int(arr[6].item())
    
    print(date)
    print(type(open_price))
    print(high_price)
    print(low_price)
    print(close_price)
    print(adj_close_price)
    print(volume)
    break

2015-06-15
<class 'float'>
17890.76
17698.42
17791.17
17791.17
91920000