In [1]:
%run -i 'scraping.py'

In [8]:
import pandas as pd
import tensorflow as tf
from tensorflow import keras
import matplotlib.pyplot as plt
import numpy as np

In [3]:
print(len(dataframe_list))

3

In [4]:
dji = dataframe_list[0]
sp_500 = dataframe_list[1]
nasdaq = dataframe_list[2]

In [5]:
dji.head()

                Open      High       Low     Close  Adj Close       Volume
Date
2020-06-12  25659.42  25965.55  25078.41  25605.54   25605.54  514440000.0
2020-06-11  26282.51  26294.08  25082.72  25128.17   25128.17  647780000.0
2020-06-10  27251.89  27355.22  26938.05  26989.99   26989.99  448930000.0
2020-06-09  27447.37  27447.37  27151.06  27272.30   27272.30  381430000.0
2020-06-08  27232.93  27580.21  27232.48  27572.44   27572.44  430200000.0

In [6]:
sp_500.head()

               Open     High      Low    Close  Adj Close        Volume
Date
2020-06-12  3071.04  3088.42  2984.47  3041.31    3041.31  5.832250e+09
2020-06-11  3123.53  3123.53  2999.49  3002.10    3002.10  7.018890e+09
2020-06-10  3213.42  3223.27  3181.49  3190.14    3190.14  6.570840e+09
2020-06-09  3213.32  3222.71  3193.11  3207.18    3207.18  6.382620e+09
2020-06-08  3199.92  3233.13  3196.00  3232.39    3232.39  8.437380e+09

In [7]:
nasdaq.head()

                Open      High      Low     Close  Adj Close        Volume
Date
2020-06-12   9715.87   9768.64  9413.62   9588.81    9588.81  4.366190e+09
2020-06-11   9791.24   9868.08  9491.31   9492.73    9492.73  5.271000e+09
2020-06-10  10012.32  10086.89  9962.58  10020.35   10020.35  5.128400e+09
2020-06-09   9867.19  10002.50  9863.27   9953.75    9953.75  5.281860e+09
2020-06-08   9823.44   9927.13  9780.61   9924.75    9924.75  6.143120e+09

In [32]:
TRAIN_SPLIT = len(dji) - 10 # same for all data

def standarize(data):
    global TRAIN_SPLIT
    data_values = data.values
    mean = data_values[:TRAIN_SPLIT].mean()
    std = data_values[:TRAIN_SPLIT].std()
    standarized_value = (data_values-mean) / std
    return standarized_value

In [34]:
dji_standarized = standarize(dji)
sp500_standarized = standarize(sp_500)
nasdaq_standarized = standarize(nasdaq)

In [35]:
assert dji_standarized.shape == (len(dji), 6)
assert sp500_standarized.shape == (len(sp_500), 6)
assert nasdaq_standarized.shape == (len(nasdaq), 6)

In [47]:
START_INDEX = 20

def train_data(dataset, target_index, start_index, train_split):
    data = []
    labels = []
    target = dataset[:, target_index]

    # model will be given 20 bitcoin prices
    start_index = start_index
    end_index = train_split
    
    for i in range(start_index, end_index):
        indices = range(i - start_index, i)
        data.append(dataset[indices])
        labels.append(target[i])
    
    return np.array(data), np.array(labels)

In [48]:
dji_train, dji_label = train_data(dji_standarized, 4, START_INDEX, TRAIN_SPLIT)

In [57]:
assert dji_train.shape == (TRAIN_SPLIT - START_INDEX, 20, 6)