# Income Distribution

In [1]:
import pandas as pd

In [5]:
data = pd.read_csv('data/census-income_data.csv')
data.head()

,73,Not in universe,0,0.1,High school graduate,0.2,Not in universe.1,Widowed,Not in universe or children,Not in universe.2,...,United-States,United-States.1,United-States.2,Native- Born in the United States,0.7,Not in universe.8,2,0.8,95,- 50000.
0,58,Self-employed-not incorporated,4,34,Some college but no degree,0,Not in universe,Divorced,Construction,Precision production craft & repair,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,52,94,- 50000.
1,18,Not in universe,0,0,10th grade,0,High school,Never married,Not in universe or children,Not in universe,...,Vietnam,Vietnam,Vietnam,Foreign born- Not a citizen of U S,0,Not in universe,2,0,95,- 50000.
2,9,Not in universe,0,0,Children,0,Not in universe,Never married,Not in universe or children,Not in universe,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,0,0,94,- 50000.
3,10,Not in universe,0,0,Children,0,Not in universe,Never married,Not in universe or children,Not in universe,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,0,0,94,- 50000.
4,48,Private,40,10,Some college but no degree,1200,Not in universe,Married-civilian spouse present,Entertainment,Professional specialty,...,Philippines,United-States,United-States,Native- Born in the United States,2,Not in universe,2,52,95,- 50000.

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 199522 entries, 0 to 199521
Data columns (total 42 columns):
 #   Column                                     Non-Null Count   Dtype
---  ------                                     --------------   -----
 0   73                                         199522 non-null  int64
 1    Not in universe                           199522 non-null  object
 2    0                                         199522 non-null  int64
 3    0.1                                       199522 non-null  int64
 4    High school graduate                      199522 non-null  object
 5    0.2                                       199522 non-null  int64
 6    Not in universe.1                         199522 non-null  object
 7    Widowed                                   199522 non-null  object
 8    Not in universe or children               199522 non-null  object
 9    Not in universe.2                         199522 non-null  object
 10   White                                     199522 non-null  object
 11   All other                                 199522 non-null  object
 12   Female                                    199522 non-null  object
 13   Not in universe.3                         199522 non-null  object
 14   Not in universe.4                         199522 non-null  object
 15   Not in labor force                        199522 non-null  object
 16   0.3                                       199522 non-null  int64
 17   0.4                                       199522 non-null  int64
 18   0.5                                       199522 non-null  int64
 19   Nonfiler                                  199522 non-null  object
 20   Not in universe.5                         199522 non-null  object
 21   Not in universe.6                         199522 non-null  object
 22   Other Rel 18+ ever marr not in subfamily  199522 non-null  object
 23   Other relative of householder             199522 non-null  object
 24   1700.09                                   199522 non-null  float64
 25   ?                                         199522 non-null  object
 26   ?.1                                       199522 non-null  object
 27   ?.2                                       199522 non-null  object
 28   Not in universe under 1 year old          199522 non-null  object
 29   ?.3                                       199522 non-null  object
 30   0.6                                       199522 non-null  int64
 31   Not in universe.7                         199522 non-null  object
 32   United-States                             199522 non-null  object
 33   United-States.1                           199522 non-null  object
 34   United-States.2                           199522 non-null  object
 35   Native- Born in the United States         199522 non-null  object
 36   0.7                                       199522 non-null  int64
 37   Not in universe.8                         199522 non-null  object
 38   2                                         199522 non-null  int64
 39   0.8                                       199522 non-null  int64
 40   95                                        199522 non-null  int64
 41   - 50000.                                  199522 non-null  object
dtypes: float64(1), int64(12), object(29)
memory usage: 63.9+ MB