# Income Distribution

Predict the income class of US population.

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('data/train.csv')
data.head()

,age,class_of_worker,industry_code,occupation_code,education,wage_per_hour,enrolled_in_edu_inst_lastwk,marital_status,major_industry_code,major_occupation_code,...,country_father,country_mother,country_self,citizenship,business_or_self_employed,fill_questionnaire_veteran_admin,veterans_benefits,weeks_worked_in_year,year,income_level
0,73,Not in universe,0,0,High school graduate,0,Not in universe,Widowed,Not in universe or children,Not in universe,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,0,95,-50000
1,58,Self-employed-not incorporated,4,34,Some college but no degree,0,Not in universe,Divorced,Construction,Precision production craft & repair,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,52,94,-50000
2,18,Not in universe,0,0,10th grade,0,High school,Never married,Not in universe or children,Not in universe,...,Vietnam,Vietnam,Vietnam,Foreign born- Not a citizen of U S,0,Not in universe,2,0,95,-50000
3,9,Not in universe,0,0,Children,0,Not in universe,Never married,Not in universe or children,Not in universe,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,0,0,94,-50000
4,10,Not in universe,0,0,Children,0,Not in universe,Never married,Not in universe or children,Not in universe,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,0,0,94,-50000

In [3]:
data['income_level'].unique()

array([-50000,  50000])

In [6]:
data['income_level'] = data['income_level'].map({-50000: 0, 50000: 1})

## Data Exploration

## Data Cleansing

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 199523 entries, 0 to 199522
Data columns (total 41 columns):
 #   Column                            Non-Null Count   Dtype
---  ------                            --------------   -----
 0   age                               199523 non-null  int64
 1   class_of_worker                   199523 non-null  object
 2   industry_code                     199523 non-null  int64
 3   occupation_code                   199523 non-null  int64
 4   education                         199523 non-null  object
 5   wage_per_hour                     199523 non-null  int64
 6   enrolled_in_edu_inst_lastwk       199523 non-null  object
 7   marital_status                    199523 non-null  object
 8   major_industry_code               199523 non-null  object
 9   major_occupation_code             199523 non-null  object
 10  race                              199523 non-null  object
 11  hispanic_origin                   198649 non-null  object
 12  sex                               199523 non-null  object
 13  member_of_labor_union             199523 non-null  object
 14  reason_for_unemployment           199523 non-null  object
 15  full_parttime_employment_stat     199523 non-null  object
 16  capital_gains                     199523 non-null  int64
 17  capital_losses                    199523 non-null  int64
 18  dividend_from_Stocks              199523 non-null  int64
 19  tax_filer_status                  199523 non-null  object
 20  region_of_previous_residence      199523 non-null  object
 21  state_of_previous_residence       198815 non-null  object
 22  d_household_family_stat           199523 non-null  object
 23  d_household_summary               199523 non-null  object
 24  migration_msa                     99827 non-null   object
 25  migration_reg                     99827 non-null   object
 26  migration_within_reg              99827 non-null   object
 27  live_1_year_ago                   199523 non-null  object
 28  migration_sunbelt                 99827 non-null   object
 29  num_person_Worked_employer        199523 non-null  int64
 30  family_members_under_18           199523 non-null  object
 31  country_father                    192810 non-null  object
 32  country_mother                    193404 non-null  object
 33  country_self                      196130 non-null  object
 34  citizenship                       199523 non-null  object
 35  business_or_self_employed         199523 non-null  int64
 36  fill_questionnaire_veteran_admin  199523 non-null  object
 37  veterans_benefits                 199523 non-null  int64
 38  weeks_worked_in_year              199523 non-null  int64
 39  year                              199523 non-null  int64
 40  income_level                      199523 non-null  int64
dtypes: int64(13), object(28)
memory usage: 62.4+ MB

In [11]:
data.drop(columns = ['migration_msa', 'migration_reg', 'migration_within_reg', 'migration_sunbelt'], inplace=True)